<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.arae.benefittracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".BenefitTracker"
            android:label="@string/title_activity_benefit_tracker" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".Benefit" >
        </activity>
        <activity android:name=".AddTransaction" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/menu_help"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/provider_title" >
        </activity>

        <service android:name=".BTFetchService" />
    </application>

</manifest>